body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contBtn {
    display: flex;
    justify-content: center;
}

.onglets {
    width: 250px;
    height: 50px;
    background: rgb(163, 151, 151);
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #333;
}

.container {
    width: 502px;
    height: 500px;
    text-align: justify;
    border: 1px solid #333;
    border-top: none;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.container p {
    padding: 40px;
    margin: 0;
}

.active {
    background: rgb(248, 248, 248);
    color: #333;
}

img {
    position: absolute;
    width: 16px;
    height: 16px;
    display: flex;
    padding-top: 15px;
    padding-left: 30px;
}

@media screen and (max-width: 500px) {
.onglets {
    width: 125px;
    height: 40px;
}

.container {
    width: 252px;
    height: 450px;
}

.container p {
    font-size: 10px;
}

img {
    display: none;
}

}
